<section class="main" id="main">

   <main aria-label="Site main content" class="content" id="content" role="main">
     {{ page.content }}
   </main>

   <aside class="right--sidebar" id="sidebar" role="complementary">
     {{ page.right_sidebar }}
   </aside>

</section>