<section class="paragraph-voleur">

    <li class="voleur-profil">
        {{ content.field_profil }}
    </li>

    <li class="voleur-statistiques">
        {{ content.field_statistiques }}
    </li>

    <li class="voleur-arme-legere">
        {{ content.field_ref_taxo_arme_legere }}
    </li>
    
</section>