<section class="paragraph-magicien">

    <li class="magicien-profil">
    {{ content.field_profil }}
    </li>

    <li class="magicien-statistiques">
    {{ content.field_statistiques }}
    </li>

    <li class="magicien-arme-magique">
    {{ content.field_ref_taxo_arme_magique }}
    </li>
    
</section>