<section class="paragraph-profil">

    <li class="profil-photo">
        {{ content.field_photo }}
    </li>

    <li class="profil-provenance">
        {{ content.field_provenance }}
    </li>

    <li class="profil-pseudo">
        {{ content.field_pseudo }}
    </li>

    <li class="profil-sex">
        {{ content.field_sex }}
    </li>

   <li class="profil-website">
        {{ content.field_website }}
    </li>

</section>