<section class="paragraph-statistiques">
<ul>
    <li class="statistiques-degats-magique">
        {{ content.field_degats_magique }}
    </li>

    <li class="statistiques-degats-physique">
        {{ content.field_degats_physique }}
    </li>

    <li class="statistiques-point-de-mana">
        {{ content.field_point_de_mana }}
    </li>

    <li class="statistiques-point-de-vie">
        {{ content.field_point_de_vie }}
    </li> 

    <li class="statistiques-resistance-magique">
        {{ content.field_resistance_magique }}
    </li>
    
    <li class="statistiques-resistance-physique">
        {{ content.field_resistance_physique }}
    </li>
</ul>
</section>