<section class="paragraph-barde">

    <li class="barde-profil">
    {{ content.field_profil }}
    </li>

    <li class="barde-statistiques">
    {{ content.field_statistiques }}
    </li>

    <li class="barde-arme-musicale">
    {{ content.field_ref_taxo_arme_musicale }}
    </li>
    
</section>