header{
    color:red;
    text-align: center;
}

footer{
    text-align: center;
}

body{
    background-color: rgb(179, 250, 246);
}

li.barde-statistiques{
    color: rgb(0, 19, 128);
    border: 3px solid;
    border-color: rgb(92, 107, 194);
    background-color: rgb(131, 165, 218);
    margin-right: 85%;
}

img{
    border: 2px solid;
    border-color: rgb(92, 107, 194);
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

div.character-classe{
    margin-top: 8%;
    margin-bottom: 8%;
}